* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.html {
    font-size: 62.5%;
}

.screen {
    width: 100%;
}

.homeContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home-left {
    width: 18%;
    border-right: .1rem solid lightgray;
    padding: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
}

.home-middle {
    width: 52%;
    /* border: .1rem solid black; */
    margin-left: 18%;
}

.home-right {
    width: 30%;
    /* border: .1rem solid black; */
}

.logo-wrapper {
    width: 100%;
    margin: .8rem 0;
    cursor: pointer;
}

.logo-img {
    width: 65%;
}

.logo-img img {
    width: 100%;
}

.navbar-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.more-wrapper {
    width: 100%;
    display: flex;
}

.navLink {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem .5rem;

    cursor: pointer;
}

.navLink:hover {
    background-color: rgb(224, 221, 221);
    border-radius: .5rem;
}

.navLink:hover i {
    transform: scale(1.2);
    transition: .5s;
}

.navLink i {
    font-size: 1.3rem;
}

.navLink span {
    font-size: 1rem;
    text-transform: capitalize;
    margin-left: 1rem;
}
.navLink:nth-child(8) span{
    text-transform:none;
}

/* -----------  login --------- */

.loginContainer {
    width: 36%;
    margin: 2rem auto;
    border: .1rem solid black;
    padding: 1.5rem;

}

.login-logo-img {
    width: 38%;
    margin: auto;
}

.login-logo-img img {
    width: 100%;
}

.header-text {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.input_wrap input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border: .1rem solid lightgray;
    height: 2.5rem;
    width: 100%;
    color: #000000;
    font-size: 1rem;
    padding-left: 2rem;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    padding: .7rem .7rem;
}


.input_wrap input:focus+label,
input:valid+label {
    font-size: .7rem;
    color: gray;
    top: -.5rem;
    left: .5rem;
    background: #ffffff;
    padding: 0px .5rem 0px .5rem;
}

.input_wrap {
    width: auto;
    height: auto;
    position: relative;

}

.input_wrap label {
    font-size: 1rem;
    color: gray;
    /* padding: 1rem; */
    position: absolute;
    top: -.1rem;
    padding: .5rem;
    left: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    font-weight: normal;

}

.input_wrap input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

.submit-btn {
    width: 100%;
}

.submit-btn input {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .09rem;
    padding: .5rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: dodgerblue;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}

.tandc-sp-small-text {
    font-size: .9rem;
    color: gray;
    text-align: center;
    margin-bottom: 1rem;
}

.tandc-sp-small-text span {
    color: dodgerblue;
}


/* --------  home ----------- */

.story-section {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    /* border: .1rem solid  black; */
}

.story-section a {
    width: 10.5%;
    /* height: 90px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    cursor: pointer;
}

.story-img {
    width: 100%;
    border-radius: 100%;
    height: 100%;
    object-fit: contain;
    padding: .1rem;

}

.story-img img {
    width: 100%;
    border-radius: 100%;
    padding: .1rem;
    border: .1rem solid gray;
    aspect-ratio: 3/3;

}

.story-holder-name {
    width: 100%;
    font-size: .8rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.post-section {
    width: 100%;
    /* border: 1px solid black; */
}

.post-container {
    width: 67%;
    margin: auto;
    padding-bottom: 1rem;
    border-bottom: .1rem solid lightgray;
    /* border: 1px solid black; */
    margin-bottom: 1rem;
}

.post-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header-left {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: start;
    gap: .5rem;
    padding: .4rem 0;
}

.post-p-img {
    width: 8%;
    /* border: 1px solid violet; */
    cursor: pointer;
    border-radius: 100%;
}

.post-p-img img {
    width: 100%;
    border-radius: 100%;
    aspect-ratio: 3/3;
    object-fit: cover;
}

.post-userID {
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}

.dot {
    font-size: 1rem;
    color: gray;
    cursor: pointer;
}

.post-time {
    font-size: .9rem;
    color: gray;
    cursor: pointer;
}
.post-header-right i{
    /* border: 1px solid orangered; */
    font-size: 1.3rem;
    padding: .5rem;
}
.post-body{
    width: 100%;
}
.post-image{
    width: 100%;
}
.post-image img{
    width: 100%;
}
.post-footer{
    width: 100%;
}
.lcss-wrapper{
    width: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}
.likeCommentShare{
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    
}
.likeCommentShare i{
    font-size: 1.3rem;
    cursor: pointer;
}
.post-save i{
    font-size: 1.3rem;
    cursor: pointer;
}
.p-likes{
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}
.p-comment{
    font-size: .9rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-comment span{
    margin-right: .5rem;
}
.more{
    font-size: .9rem;
    color: gray;
    cursor: pointer;
}
.see-translation{
    font-size: .7rem;
    font-weight: 550;
}
.view-comment{
    font-size: .9rem;
    color: gray;
    cursor: pointer;
}
.add-comment{
    font-size: .9rem;
    color: gray;
    cursor: pointer;
}
.home-right-container{
    width: 90%;
    /* border: 1px solid black; */
    padding-top: 2rem;
}
.account-switch{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    cursor: pointer;
}
.account-switch-left{
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: start;
    gap: .5rem;
    align-items: center;
}
.account-profile-img{
    width: 18%;
    border-radius: 100%;
}
.account-profile-img img{
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 3/3;
}
.account-id{
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: .2rem;
}
.account-subname{
    font-size: .8rem;
    color: gray;
}
.account-switch-right{
    font-size: .8rem;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(0, 149, 246);
}
.suggested{
    width: 100%;
}
.suggested-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.suggested-title span:nth-child(1){
    font-size: .9rem;
    color: gray;
    font-weight: 600;
}
.suggested-title span:nth-child(2){
    font-size: .8rem;
    text-transform: capitalize;
    font-weight: 600;
}
.suggested-accounts{
    width: 100%;
}
.suggested .account-profile-img{
    width: 13%;
}
.verified i{
    font-size: .8rem;
    color: rgb(0, 149, 246);
}


/* ------------ profile ------------ */

.profile-right {
    width: 82%;
    margin-left: 18%;
}

.profileContainer {
    width: 84%;
    margin: auto;
    /* border: 1px solid black; */
}

.profile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.profile-header-left {
    width: 33%;
    /* border: 1px solid black; */
}

.profile-header-right {
    width: 67%;
    /* border: 1px solid black; */
    padding: 1.5rem 0;
}

.profile-img {
    width: 52%;
    border-radius: 100%;
    margin: 1.5rem auto;
    cursor: pointer;
}

.profile-img img {
    width: 100%;
    border-radius: 100%;
    aspect-ratio: 3/3;
    object-fit: cover;
    border: .2rem solid lightgray;
    padding: .3rem;
}

.profile-first-content {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.username {
    font-size: 1.2rem;
    padding: .3rem;
    margin-right: 1rem;
}

.edit-profile {
    font-size: .9rem;
    padding: .4rem .6rem;
    margin-right: 1rem;
    background-color: rgb(238, 232, 232);
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
}

.edit-profile:hover {
    background-color: #cfc7c7;
}

.options {
    font-size: 1.2rem;
    padding: .3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.profile-social-count {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.post-count {
    font-size: 1rem;
    margin-right: 3rem;
    cursor: pointer;
}

.post-count span {
    font-size: 1rem;
    margin-right: .2rem;
    font-weight: 600;
}

.followers-count {
    font-size: 1rem;
    margin-right: 3rem;
    cursor: pointer;
}

.followers-count span {
    font-size: 1rem;
    margin-right: .2rem;
    font-weight: 600;
}

.following-count {
    font-size: 1rem;
    margin-right: 3rem;
    cursor: pointer;
}

.following-count span {
    font-size: 1rem;
    margin-right: .2rem;
    font-weight: 600;
}

.profile-body {
    width: 100%;

}

.profile-body-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: .1rem solid lightgray;
}

.allPost {
    font-size: .8rem;
    font-weight: 600;
    color: gray;
    margin: 0 1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 0;
    border-top: 1px solid #000;
}

.allPost i {
    margin-right: .4rem;
}

.active {
    color: #000;
}

.saved {
    font-size: .8rem;
    font-weight: 600;
    color: gray;
    margin: 0 1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 0;
}

.saved i {
    margin-right: .4rem;
}

.tagged {
    font-size: .8rem;
    font-weight: 600;
    color: gray;
    margin: 0 1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 0;
}

.tagged i {
    margin-right: .4rem;
}

.profile-body-content {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: .2rem;
}

.single-post {
    width: 32.9%;
    /* border: 1px solid black; */
    cursor: pointer;
    position: relative;
}

.post-img {
    width: 100%;
}

.post-img img {
    width: 100%;
    aspect-ratio: 3/3;
    object-fit: cover;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(11, 10, 10, 0.37);
}

.single-post:hover .overlay {
    opacity: 1;
}

.profilHoverIcon {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.like-hover {
    margin-right: 1rem;
    font-weight: 600;
}

.like-hover i {
    margin-left: .4rem;
}

.comment-hover {
    font-weight: 600;
}

.comment-hover i {
    margin-left: .4rem;
}

.profile-footer {
    width: 100%;
    margin-bottom: 2rem;
}

.p-f-head {
    width: 90%;
    margin: auto;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.footer-link {
    font-size: .8rem;
    color: gray;
    text-transform: capitalize;

}

.p-f-footer {
    width: 90%;
    margin: auto;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
}

.footer-link2 {
    font-size: .8rem;
    color: gray;
    text-transform: capitalize;
    margin-right: 1rem;
}
.add-post-container{
    width: 60%;
    border: .1rem solid lightgray;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-post-container form{
    width: 50%;
    padding:  0 2rem;
}
.add-post-img-wrapper{
    width: 50%;
    /* border: 1px solid black; */
}
.add-post-img-wrapper img{
    width: 100%;
}

/* ------------ Search ------------ */

.search-right{
    width: 82%;
    margin-left: 18%;
}
.search-container{
    width: 40%;
    border: .1rem solid black;
    margin: 3rem 2rem;
    padding: 2rem 0;
}
.search-header{
    width: 100%;
    margin-bottom: .3rem;
}
.search-header input{
    width: 70%;
    font-size: 1rem;
    padding: .1rem;
}
.search-header button{
    width: 28%;
    font-size: 1rem;
    padding: .1rem;
}
.search-footer{
    width: 100%;
    background-color: lightgray;
    height: 300px;
}




















































































